/* global styles */


/* -- header -- */ 

body {
    font-family: sans-serif, Verdana, Arial, Helvetica;
    margin: auto;
    max-width: 100%;
}

header {
    display: flex;
}

.logo_box {
    max-width: 70px;
}

.logo {
    max-width: 100%;
}

.logo_text1 {
    font-size: 24px;
    text-decoration: solid;
}

.logo_text2 {
    font-size: 16px;
}

.fa-bars {
    font-size: 24px;
    margin-left: 40px;
    margin-top: 50px;
}

#hamburger-checkbox:checked ~ nav {
    display: block;
}

nav, #hamburger-checkbox {
    display: none;
}

nav a {
    display: block;
    color: black;
    text-decoration: none;
 }

 .social_media_icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
 }

/* -- header end -- */

.free_entrance {
    display: flex;
    background-color: rgba(9, 61, 139, 1);
    color: white;
    justify-content: center;
    padding: 5px 20px;
}

.free_entrance_text {  
    font-size: 12px;
    text-align: center;
}
    
/* -- footer -- */

footer {
    display: flex;
    color: white;
    background-color: rgba(9, 61, 139, 1);
    gap: 20px;
    padding: 20px;
}

footer div p {
    font-size: 12px;
}

/* LOCAL STYLES */

/* index page */

.spaceship_simulator, .mammut_museum, .simulation_glasses {
    max-width: 300px;
}

.spaceship_simulator {
    border-radius: 40%;
}

.simulation_glasses {
    border-radius: 20%;
}

.button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(9, 61, 139, 1);
}

.two {
    padding: 10px 36px;
}

.three {
    padding: 10px 52px;
}

.exhibition_spaces1 {
    position: relative;
    top: 30px;
    z-index: 2;
}

.exhibition_spaces2 {
    padding: 150px 20px 40px 30px;
    background-color: rgba(195, 249, 230, 1);
    z-index: 1;
    position: relative;
    bottom: 130px;
}

.exhibition_spaces2_text {
    padding-bottom: 20px;
}

.explore_more1 {
    position: relative;
    bottom: 100px;
    z-index: 2;
}

.explore_more2 {
    padding: 100px 20px 40px 30px;
    background-color: rgba(240, 251, 114, 0.87);
    z-index: 1;
    position: relative;
    bottom: 200px;
}

.explore_more2_text {
    padding-bottom: 20px;
}

.read_more1 {
    position: relative;
    bottom: 170px;
    z-index: 2;
}

.read_more2 {
    padding: 100px 20px 40px 30px;
    background-color: rgba(10, 161, 246, 0.32);
    z-index: 1;
    position: relative;
    bottom: 280px;
}

.read_more2_text {
    padding-bottom: 20px;
}

/* exhibition space page */

.galaxy_picture {
    position: relative;
    display: flex;
    height: 200px;
    height: 70px;
    width: 100%;
    z-index: 1;
}

.exhibition_space_header {
    font-size: 18px;
    position: absolute;
    left: 20px;
    top: 160px;
    color: white;
    z-index: 2;
}

.exhibition_section_one {
    background-color: rgba(251, 167, 4, 1);
    padding: 20px;
}

.planets_picture {
    width: 320px;
    height: 100px;
    object-fit: cover;
}

.heart_picture {
    width: 180px;
    height: 100px;
    object-fit: cover;
}

.mammut_picture, .hanging_sceleton_picture {
    max-width: 100%;
}

.exhibition_section_grid {
   background-color:rgba(242, 251, 132, 1);
   padding: 20px;
   display: grid;
   gap: 10px;
   grid-template-columns: 55% 35%;
}

.exhibition_section_grid_two {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.exhibition_section_grid_four, .exhibition_section_grid_five {
    grid-column-start: 1;
    grid-column-end: 3;
}
   
.exhibition_section_three {
    background-color: rgba(195, 249, 230, 1);
    padding: 20px;
}

.head_picture {
    max-width: 250px;
    position: relative;
    left: 80px;
    z-index: 1;
}

.heart_picture {
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 1000px;
}

/* explore page */

.picture_kids, .picture_teacher, .picture_researchers  {
    max-width: 320px;
}

.explore_1 {
    background-color: rgba(195, 249, 230, 1);
    padding: 10px 20px;
}

.kids_text1, .kids_text2 {
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    background-color: rgba(7, 181, 119, 1);
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 50%;
}

.kids_text1 {
    width: 260px;
    height: 150px;
    z-index: 1;
}

.kids_text2 {
    width: 160px;
    height: 90px;
    left: 90px;
    bottom: 50px;
    z-index: 2;
}

.explore_2 {
    background-color: rgba(242, 251, 132, 1);
    padding: 10px 10px 40px 10px;
}

.teacher_text {
    display: flex;
    align-items: center;
    position: relative;
    top: 20px;
    background-color: rgba(251, 167, 4, 0.65);
    border-radius: 50%;
    width: 210px;
    padding: 50px 60px;
    margin: 0px auto;
}

.explore_3 {
    background-color: rgba(177, 225, 252, 1);
    padding: 10px 20px;
}

.explore_text1, .explore_text2 {
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    background-color: rgba(9, 61, 139, 1);
    padding: 10px 20px 5px 50px;
    margin-top: 20px;
    width: 220px;
    height: 120px;
    border-radius: 50%;
}

.explore_text1 {
    left: 20px;
    z-index: 1;
}

.explore_text2 {
    bottom: 50px;
    z-index: 2;
}

/* visit us page */

.picture_museum {
    height: 150px;
    width: 300px;
    object-fit: cover;
    object-position: 0% 35%;
}

.visit_us_box {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgba(148, 244, 210, 0.56);
}

/* Contact page */

.contact_main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(177, 225, 252, 1);
}

.contact_text {
    padding: 10px 40px;
}

.email{
    font-size: 20px;
    color:  rgba(227, 9, 179, 1);
}

.hanging_dinasaur_box {
    max-width: 350px;
}

.hanging_dinosaur {
    max-width: 100%;
}


/* media queries */

/* visit us page */

@media(min-width:921px) {




}

/* contact page */

@media(min-width:921px) {


    .contact_header {
        padding-bottom: 40px;
    }

    .email {
        padding-top: 20px;
        font-size: 30px;
    }

    .hanging_dinosaur {
        padding: 20px 0px;
    }

}

